@tailwind base;
@tailwind components;
@tailwind utilities;

/* Underline animation */
@keyframes underline-grow {
  0% {
    width: 0%;
    left: 50%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}

.nav-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-underline::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 2px;
  background-color: #14b8a6; /* Tailwind teal-500 */
  width: 0%;
  transition: all 0.3s ease-in-out;
}

.nav-underline:hover::after {
  animation: underline-grow 0.3s forwards;
}
